---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.body-effects{
  padding:35px;
  position: absolute;
  top: 150px;
  right: 0px;
  float: right;
  height: 500px;
  /*width: 250px;*/
  }
  
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials