---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* Antiga estilização do plano de fundo
  position: absolute;
  top: 1%;
  right: 1%;
  float: left;
  height: 50%;
  width: auto;
  */
@charset "utf-8";
  
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials