---
layout: archive
---

{{ content }}


  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

  <!-- ImageNS de Fundo -->
  <img class="body-effects" src="https://i.imgur.com/MYrxpAX.png" alt="Papel de Parede do Site"> 
  <img class="body-effects" src="https://cdn.pixabay.com/photo/2012/04/15/19/20/nucleus-35000_960_720.png" alt="Papel de Parede do Site">  

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
